:root{
    --maincolor: #68D4BE; 
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}
ul, li, ol, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
body {
    color: #fff;
    background-color: #111111;
    scroll-behavior: smooth;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 400;
    overflow-x: hidden !important;
    position: relative;
}
.section-padding {
    padding: 100px 0;
}
.mt-30{
    margin-top: 30px;
}


/* ================================ Header ================================ */

.main-header{
    padding: 30px 0px 0px;
}
.main-header .row{
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}
.main-header .row .main-logo,
.main-header .row .main-con{
    width: fit-content;
}
.logo , .con-info{
    /* padding: 10px 30px; */
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 5px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo a {
    display: flex;
}
.logo a img{
    height: 30px;
}
.main-header .bg,
.main-con .mobile-menu {
    justify-content: center;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-header .bg .navbar-nav-inner{
    width: 100%;
}
.main-header .navbar-nav {
    justify-content: center;
    flex-direction: row;
}
.main-header .navbar-nav .nav-link {
    font-size: 15px;
    color: #fff;
    margin: 0 10px;
    padding: 0 5px;
    display: flex;
}
.main-header .navbar-nav .nav-link .rolling-text {
    display: inline-block;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
.main-header .navbar-nav .nav-link .rolling-text .block{
    display: flex;
}
.rolling-text .letter {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    -o-transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.letter:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.letter:nth-child(2) {
    -webkit-transition-delay: 0.015s;
    -o-transition-delay: 0.015s;
    transition-delay: 0.015s;
}
.letter:nth-child(3) {
    -webkit-transition-delay: 0.03s;
    -o-transition-delay: 0.03s;
    transition-delay: 0.03s;
}
.letter:nth-child(4) {
    -webkit-transition-delay: 0.045s;
    -o-transition-delay: 0.045s;
    transition-delay: 0.045s;
}
.letter:nth-child(5) {
    -webkit-transition-delay: 0.06s;
    -o-transition-delay: 0.06s;
    transition-delay: 0.06s;
}
.letter:nth-child(6) {
    -webkit-transition-delay: 0.075s;
    -o-transition-delay: 0.075s;
    transition-delay: 0.075s;
}
.letter:nth-child(7) {
    -webkit-transition-delay: 0.09s;
    -o-transition-delay: 0.09s;
    transition-delay: 0.09s;
}
.letter:nth-child(8) {
    -webkit-transition-delay: 0.105s;
    -o-transition-delay: 0.105s;
    transition-delay: 0.105s;
}
.letter:nth-child(9) {
    -webkit-transition-delay: 0.12s;
    -o-transition-delay: 0.12s;
    transition-delay: 0.12s;
}
.main-header .navbar-nav .nav-link .block:last-of-type {
    color: var(--maincolor);
}
.rolling-text:hover .letter, .rolling-text.play .letter {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.con-info{
    justify-content: end;
    gap: 10px;
}
.con-info .linkedin-btn,
.responsive-menu{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.con-info .linkedin-btn:hover{
    opacity: 0.7;
}
.con-info .linkedin-btn img{
    width: 18px;
    height: 18px;
    fill: #fff;
}
.con-info .contact-btn{
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 60px;
    display: flex;
    padding: 4px 4px 4px 24px;
    transition: all 0.3s;
}
.con-info .contact-btn:hover{
    opacity: 0.7;
}
.con-info .contact-btn .contact-text{
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    font-family: 'Bricolage Grotesque';
}
.con-info .contact-btn .right-arrow{
    width: 40px;
    height: 40px;
    background-color: #ffffff41;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.con-info .contact-btn .right-arrow img{
    width: 12px;
    height: 12px;
    transition: all 0.3s;
}
.con-info .contact-btn:hover .right-arrow img{
    transform: rotate(45deg);
}
.con-info .responsive-menu{
    flex-direction: column;
    display: none;
}
.con-info .responsive-menu span{
    background: #fff;
    border-radius: 2px;
    display: block;
    height: 2px;
    transition: all 0.4s;
    width: 20px;
}
.con-info .responsive-menu span:last-child{
    margin-top: 6px;
    transform-origin: left;
}
.con-info .responsive-menu.active span:first-child {
    transform: translate3d(.5px, 3px, 0) scale(1) rotate(45deg) scale(1);
}
.con-info .responsive-menu.active span:last-child {
    transform: translate3d(3.5px, 2px, 0) scale(1) rotate(-45deg) scale(1);
}
.main-con .mobile-menu{
    position: absolute;
    left: 50%;
    transform: translate3d(0,-300px,0) scale(1) scaleY(.945615) translateX(-50%);
    width: calc(100% - 24px);
    top: 130%;
    visibility: hidden;
    opacity: 0;
    height: auto;
    transition: all 0.5s;
    border-radius: 30px;
}
.main-con .mobile-menu.active{
    visibility: visible;
    opacity: 1;
    z-index: 99;
    transform: translateZ(0) scale(1) scale(1) translateX(-50%);
}
.main-con .mobile-menu .navbar-nav {
    flex-direction: column;
    gap: 20px;
}
.main-con .mobile-menu .navbar-nav .nav-link {
    justify-content: center;
}

/* ================================ hero-section ================================ */

.hero .intro .lg-box,
.hero .intro .box1 .tow-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hero .intro .box1 {
    margin-right: 10px;
}
.hero .intro .box1 .tow-items .item1 {
    width: 150px;
    height: 300px;
    border-radius: 80px 80px 0 60px;
    margin-right: 10px;
}
.hero .intro .box-shadow {
    position: relative;
    background-color: #0c0c0c;
}
.hero .intro .box1 .tow-items .item1::after,
 .hero .intro .box1 .tow-items .item1::before {
    border-radius: 80px 80px 0 60px;
}
.hero .intro .box-shadow::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-linear-gradient(330deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.04));
    background: -o-linear-gradient(330deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.04));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.04));
    opacity: 0.3;
    pointer-events: none;
}
.hero .intro .box-shadow::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: -webkit-linear-gradient(330deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background: -o-linear-gradient(330deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    z-index: -1;
    pointer-events: none;
}
.hero .intro .box1 .tow-items .item1 .circle-item {
    width: 150px;
    height: 150px;
    background: #fff;
    color: #0c0c0c;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.hero .intro h6 {
    font-family: 'Bricolage Grotesque';
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero .intro .box1 .tow-items .item1 .arrow-down {
    stroke: #fff;
    fill: #fff;
    width: 30px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.hero .intro .box1 .tow-items .item1 .dwonload-cv{
    color: #ddd;
    font-size: 15px;
    font-weight: 300;
    padding-top: 15px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1 {
    width: 150px;
    height: 145px;
    border-radius: 50px 50px 0 50px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1:after,
.hero .intro .box1 .tow-items .item2 .sub-item1:before {
    border-radius: 50px 50px 0 50px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1 h2{
    font-size: 45px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1 p {
    line-height: 1.2;
    font-weight: 300;
}
.hero .intro .box1 .tow-items .item2 .sub-item2 {
    width: 150px;
    height: 145px;
    background-image: url(../../images/ptrn2.png);
    background-size: 200% 200%;
    -webkit-animation: move 40s ease infinite alternate;
    animation: move 40s ease infinite alternate;
    border-radius: 50px 0 50px 50px;
    margin-top: 10px;
}
@keyframes move {
    0% {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 90% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100% {background-position: 0 0;}
}
.hero .intro .box1 .tow-items .item2 .sub-item2:after,
.hero .intro .box1 .tow-items .item2 .sub-item2:before {
    border-radius: 50px 0 50px 50px;
}

