
/* ================================ hero-section ================================ */

.hero .intro .lg-box,
.hero .intro .box1 .tow-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hero .intro .box1 {
    margin-right: 10px;
}
.hero .intro .box1 .tow-items .item1 {
    width: 150px;
    height: 300px;
    border-radius: 80px 80px 0 60px;
    margin-right: 10px;
}
.hero .intro .box-shadow {
    position: relative;
    background-color: #0c0c0c;
}
.hero .intro .box1 .tow-items .item1::after,
 .hero .intro .box1 .tow-items .item1::before {
    border-radius: 80px 80px 0 60px;
}
.hero .intro .box-shadow::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-linear-gradient(330deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.04));
    background: -o-linear-gradient(330deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.04));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.04));
    opacity: 0.3;
    pointer-events: none;
}
.hero .intro .box-shadow::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: -webkit-linear-gradient(330deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background: -o-linear-gradient(330deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    z-index: -1;
    pointer-events: none;
}
.hero .intro .box1 .tow-items .item1 .circle-item {
    width: 150px;
    height: 150px;
    background: #fff;
    color: #0c0c0c;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.hero .intro h6 {
    font-family: 'Bricolage Grotesque';
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero .intro .box1 .tow-items .item1 .arrow-down {
    stroke: #fff;
    fill: #fff;
    width: 30px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.hero .intro .box1 .tow-items .item1 .dwonload-cv{
    color: #ddd;
    font-size: 15px;
    font-weight: 300;
    padding-top: 15px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1 {
    width: 150px;
    height: 145px;
    border-radius: 50px 50px 0 50px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1:after,
.hero .intro .box1 .tow-items .item2 .sub-item1:before {
    border-radius: 50px 50px 0 50px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1 h2{
    font-size: 45px;
}
.hero .intro .box1 .tow-items .item2 .sub-item1 p {
    line-height: 1.2;
    font-weight: 300;
}
.hero .intro .box1 .tow-items .item2 .sub-item2 {
    width: 150px;
    height: 145px;
    background-image: url(../../images/ptrn2.png);
    background-size: 200% 200%;
    -webkit-animation: move 40s ease infinite alternate;
    animation: move 40s ease infinite alternate;
    border-radius: 50px 0 50px 50px;
    margin-top: 10px;
}
@keyframes move {
    0% {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 90% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100% {background-position: 0 0;}
}
.hero .intro .box1 .tow-items .item2 .sub-item2:after,
.hero .intro .box1 .tow-items .item2 .sub-item2:before {
    border-radius: 50px 0 50px 50px;
}
.hero .intro .box1 .item-down {
    width: 310px;
    height: 150px;
    margin-top: 10px;
    border-radius: 80px 60px 0 80px;
}
.hero .intro .box1 .item-down:before,
.hero .intro .box1 .item-down:after{
    border-radius: 80px 60px 0 80px;
}
.hero .intro .box1 .item-down a{
    display: flex;
    align-items: center;
}
.hero .intro .box1 .item-down .circle-item {
    width: 150px;
    height: 150px;
    background: #fff;
    color: #0c0c0c;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.hero .intro .arrow-right {
    stroke: #0c0c0c;
    fill: #0c0c0c;
    width: 30px;
    transition: all 0.3s;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hero .intro .item-down:hover .arrow-right{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
} 
.hero .intro .item-down h6 {
    margin-left: 15px;
    color: #fff;
}
.hero .intro .box2 .item3 {
    width: 150px;
    height: 145px;
    background-image: url(../../images/profile.webp);
    background-size: cover;
    border-radius: 50px 50px 50px 0;
}
.hero .intro .box2 .item3:after,
.hero .intro .box2 .item3:before {
    border-radius: 50px 50px 50px 0;
}
.hero .intro .box2 .item4 {
    width: 150px;
    height: 305px;
    border-radius: 0 60px 60px 0;
    margin-top: 10px;
}
.hero .intro .box2 .item4:after,
.hero .intro .box2 .item4:before {
    border-radius: 0 60px 60px 0;
}
.hero .intro .box2 .item4 h6 {
    -webkit-transform: rotate(-90deg) translateY(50%);
    -ms-transform: rotate(-90deg) translateY(50%);
    transform: rotate(-90deg) translateY(50%);
    color: #fff;
}
.hero .intro .bottom-boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}
.hero .intro .bottom-boxs a img{
    width: 30px;
    height: 30px;
}
.hero .intro .bottom-boxs .item5,
.hero .intro .bottom-boxs .item6,
.hero .intro .bottom-boxs .item7{
    width: 150px;
    height: 145px;
    margin-right: 10px;
}
.hero .intro .bottom-boxs .item5,
.hero .intro .bottom-boxs .item5:after,
.hero .intro .bottom-boxs .item5:before {
    border-radius: 50px 0 50px 50px;
}
.hero .intro .bottom-boxs .item6,
.hero .intro .bottom-boxs .item6:after,
.hero .intro .bottom-boxs .item6:before {
    border-radius: 0 0 50px 50px;
}
.hero .intro .bottom-boxs .item7,
.hero .intro .bottom-boxs .item7:after,
.hero .intro .bottom-boxs .item7:before {
    border-radius: 0 50px 50px 50px;
}
.hero .content h1 {
    margin-bottom: 15px;
    font-family: 'Bricolage Grotesque';
    font-size: 30px;
    font-weight: 300;
}
.ah-headline.slide span {
    display: inline-block;
    padding: .2em 0;
}
.ah-headline.slide span.main-color {
    color: var(--maincolor) ;
    width: auto;
}
.hero .content .sub-heading {
    font-size: 48px;
    font-weight: 300;
    font-family: 'Bricolage Grotesque';
    line-height: 1.3;
}
.hero .content .sub-heading span.bord{
    padding: 0 10px;
    background: var(--maincolor);
    color: #0c0c0c;
    font-weight: 600;
    font-size: 45px;
    border-radius: 40px;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    display: inline-block;
}
.hero .content .text {
    width: 90%;
    margin-top: 30px;
    line-height: 1.75;
    font-size: 15px;
    font-weight: 300;
    color: #ddd;
}
.hero .content .stauts{
    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.hero .content .stauts .projects,
.hero .content .stauts .client{
    margin-right: 40px;
}
.hero .content .stauts h2 {
    font-size:70px;
    font-family: 'Bricolage Grotesque';
    font-weight: 300;
}
.hero .content .stauts p {
    padding-left: 20px;
    line-height: 1.75;
    font-size: 15px;
    font-weight: 300;
    color: #ddd;
}
.hire-btn{
    margin-left: auto;
}
.butn-presv {
    -webkit-perspective: 500px;
    perspective: 500px;
}
.butn {
    border-color: #fff;
    background: transparent;
    padding: 14px 35px;
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    border-radius: 5px;
    border: 1px solid ;
    display: block;
    color: #fff;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.butn:hover {
    background: #fff;
    color: #000;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}


